<!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
     <div class="container">
 
       <div class="logo float-left">
         <!-- Uncomment below if you prefer to use an image logo -->
         <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
         <a href="#intro" class="scrollto"><img src="../assets/img/programalogo.png" alt="" class="img-fluid"></a>
         <a href="#intro" class="scrollto"><img src="../assets/img/facultad.png" alt="" class="img-fluid"></a>
       </div>
 
       <nav class="main-nav float-right d-none d-lg-block">
         <ul>
           <li class="active"><a href="#intro"><strong>Inicio</strong></a></li>
           <li><a href="#about"><strong>Nosotros</strong></a></li>
           <li><a href="#services"><strong>Servicios</strong></a></li>
           <li><a href="#portfolio"><strong>Blog</strong></a></li>
           <li><a href="#team"><strong>Equipo</strong></a></li>
           <li><a href="#contact"><strong>Contacto</strong></a></li>
         </ul>
       </nav><!-- .main-nav -->
       
     </div>
   </header><!-- #header -->