<!--==========================
    Footer
  ============================-->
  <footer id="footer">
     <div class="footer-top">
       <div class="container">
         <div class="row">
 
           <div class="col-lg-6 col-md-4 footer-info">
             <h3><strong>Argentina Programa</strong></h3>
             <p>Buscamos fomentar la programación para toda esa gente que le tiene miedo le pueda dar una oportunidad a este maravilloso mundo, que los jovenes de hoy forjen el futuro y entiendan que la finalidad de la programación es crear soluciones.</p>
           </div>
           <div class="col-lg-3 col-md-6 footer-contact">
             <h4>Contactanos</h4>
             <p>
               Av. 9 de Julio s/n, C1043 CABA <br>
               Argentina<br>
               <strong>Phone:</strong> 4555-8897 <br>
               <a href="mailto:info@example.com"><strong>Email:</strong>ArgPrograma@bsas.gob.ar<br></a>
             </p>
 
             <div class="social-links">
               <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
               <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
               <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
               <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
               <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
             </div>
 
           <!--
           </div>
           <div class="col-lg-3 col-md-6 footer-newsletter">
             <a><img src="../assets/img/Imagen33.png" alt="" class="img-fluid"></a>
             <h4>Our Newsletter</h4>
             <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
             <form action="" method="post">
               <input type="email" name="email"><input type="submit"  value="Subscribe">
             </form>
           </div>
         -->
         </div>
       </div>
     </div>
     <div class="container">
          <div class="copyright">
            <a><img src="../assets/img/Imagen33.png" alt="" class="img-fluid"></a>
          </div>