<!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
     <div class="container">

       <header class="section-header">
         <h3>Nuestros cursos</h3>
         <p>Estos son los cursos que ofrecemos actualmente de la mano de los talleres que mencionamos antes. Estan pensados para todo tipo de persona sin importar la edad o conocimientos.</p>
       </header>
       
       <div class="row">

         <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
           <div class="box">
             <div class="icon"><i class="fa fa-medium" aria-hidden="true"></i></div>
             <h4 class="title"><a href="">Diseño UX/UI</a></h4>
             <p class="description">En este curso aprenderás a hacer un research de investigación. Seleccionarás un problema y realizarás cada etapa del proceso de diseño para crear un prototipo de app nativa generando una solución de diseño digital. Tambien aprenderan a utilizar Photoshop e Illustrator las dos herramientas más utilizadas para diseño.</p>
           </div>
         </div>
         <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
           <div class="box">
             <div class="icon"><i class="fa fa-database" aria-hidden="true"></i></div>
             <h4 class="title"><a href="">Data Analytics</a></h4>
             <p class="description">En este curso aprenderás los conceptos generales de las bases de datos para luego trabajar sobre bases de datos relacionales por medio del lenguaje de consultas estructuradas SQL(Structured Query Language). Diseñarás y desarrollarás tableros de control con la herramienta Power BI, utilizando DAX (Data Analysis Expressions), Lenguaje M y Power Query.</p>
           </div>
         </div>

         <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
           <div class="box">
             <div class="icon"><i class="fa fa-html5" aria-hidden="true"></i></div>
             <h4 class="title"><a href="">Desarrollo Web</a></h4>
             <p class="description">Te sumergirás en las mejores prácticas del desarrollo web, trabajando con HTML y CSS. Conocerás herramientas para optimizar al máximo tu sitio web, implementando prácticas de versionado de código con GIT. Al finalizar, sabrás cómo aplicar Bootstrap a tus proyectos, subirás tu sitio a un servidor, y también sabrás cómo presentar un presupuesto y atender a tu cliente final.</p>
           </div>
         </div>
         <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
           <div class="box">
             <div class="icon"><i class="fa fa-android" aria-hidden="true"></i></div>
             <h4 class="title"><a href="">Desarrollo de Aplicaciones</a></h4>
             <p class="description">En este curso aprenderás los conocimientos y bases para crear aplicaciones bridge con capacidad de despliegue tanto para Android como iOS, utilizando React Native, Javascript y un software de prototipado como Sketch o Adobe Xd. Te conectarás a APIs y aprenderás la capacidad de sync con Firebase o Realm db. Al finalizar este curso estarás en condiciones de desarrollar, implementar y desplegar tu propia aplicación móvil.</p>
           </div>
         </div>

         <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
           <div class="box">
             <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
             <h4 class="title"><a href="">Testing QA Manual</a></h4>
             <p class="description">En este curso aprenderás los fundamentos del Testing, junto con las herramientas necesarias para desenvolverte como profesional de QA (Quality Assurance Professional). Conocerás las distintas herramientas que se aplican en el ambiente del Testing, los tipos de prueba más utilizados y las técnicas para llevarlas a cabo.</p>
           </div>
         </div>
         <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
           <div class="box">
             <div class="icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
             <h4 class="title"><a href="">Data Science</a></h4>
             <p class="description">En este curso aprenderás la teoría y consideraciones técnicas para la construccion de modelos de Machine Learning que solucionen problemas reales en diversas industrias de manera predictiva.
               Usaremos el lenguaje de programación Python para construir programas computacionales que aprendan de la experiencia y den soporte a la toma de decisiones en el sector financiero, deportivo y comercial.</p>
           </div>
         </div>

       </div>

     </div>
   </section><!-- #services -->
