<!--==========================
      About Us Section
    ============================-->
    <section id="about">
     <div class="container">

       <header class="section-header">
         <h3><strong>Sobre Nosotros</strong></h3>
         <p>Buscamos brindar educación efectiva de la manera más rápida y accesible posible.<br>Creando asi experiencias de aprendizaje y desarrollo profesional para entusiastas digitales.</p>
       </header>

       <div class="row about-container">

         <div class="col-lg-6 content order-lg-1 order-2">
           <p>
             Nos esforzamos en promover el trabajo en equipo, la creatividad y la superación personal. Nos basamos en la calidad, el esfuerzo y la dedicación, lo que nos permite tener muchísimas oportunidades de crecimiento y de éxito.
           </p>

           <div class="icon-box wow fadeInUp">
             <div class="icon"><i class="fa fa-clock-o"></i></div>
             <h4 class="title"><a href="">Flexibilidad Horaria</a></h4>
             <p class="description">Ofrecemos modalidad sincrónica y asincrónica segun la necesidad de el alumno/a, con diferentes días y horarios para elegir. Además hay un canal disponible las 24 horas del día por el cual se pueden comunicar con los profesores ante cualquier eventualidad que les impida asistir a las clases o cambios de fechas.</p>
           </div>

           <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
             <div class="icon"><i class="fa fa-handshake-o"></i></div>
             <h4 class="title"><a href="">Inserción Laboral</a></h4>
             <p class="description">Contamos con talleres que llevan adelante profesionales que los van a ir orientando en la construccion de su perfil laboral. Empezando por la construcción de su Curriculum vitae, siguiendo con clases de oratoria y simulaciones de entrevistas laborales para que puedan estar lo mas preparado posible, finalizando con charlas sobre su presentacion hacia las redes y conexiones interpersonales. </p>
           </div>

           <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
             <div class="icon"><i class="fa fa-bed"></i></div>
             <h4 class="title"><a href="">Comfort para los alumnos</a></h4>
             <p class="description">Nuestras instalaciones son de primer nivel, con sectores de relajación y descanso, aulas con computadoras equipadas con lo mejor del mercado para llevar a cabo sus prácticas y trabajos de programación, a su vez tambien se encuentran disponibles los sectores para realizar ejercicio y habitaciones para aquellos que deseen descansar en la escuela. </p>
           </div>

         </div>

         <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
           <img src="../assets/img/about-img.svg" class="img-fluid" alt="">
         </div>
       </div>
       
       </div>

     
   </section><!-- #about -->