<!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix">
     <div class="container">

       <header class="section-header">
         <h3 class="section-title">Nuestras Instalaciones</h3>
       </header>

       <div class="row">
         <div class="col-lg-12">
           <ul id="portfolio-flters">
             <li data-filter="*" class="filter-active">All</li>
             <li data-filter=".filter-oficinas">Oficinas</li>
             <li data-filter=".filter-app">Relax</li>
             <li data-filter=".filter-card">Baños</li>
             <li data-filter=".filter-web">Ejercicio</li>
           </ul>
         </div>
       </div>

       <div class="row portfolio-container">

         <div class="col-lg-4 col-md-6 portfolio-item filter-app">
           <div class="portfolio-wrap">
             <img src="../assets/img/portfolio/google-dublin-tres.webp" class="img-fluid" alt="">
             <div class="portfolio-info">
               <h4><a href="#">Recreo</a></h4>
               <div>
                 <a href="assets/img/portfolio/google-dublin-tres.webp" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                 <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
           <div class="portfolio-wrap">
             <img src="../assets/img/portfolio/gimnasiog-4.jpg" class="img-fluid" alt="">
             <div class="portfolio-info">
               <h4><a href="#">Gimnasio</a></h4>
               <div>
                 <a href="assets/img/portfolio/gimnasiog-4.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                 <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
           <div class="portfolio-wrap">
             <img src="../assets/img/portfolio/office.jpg" class="img-fluid" alt="">
             <div class="portfolio-info">
               <h4><a href="#">Chill</a></h4>
               <div>
                 <a href="assets/img/portfolio/office.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                 <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 portfolio-item filter-card">
           <div class="portfolio-wrap">
             <img src="../assets/img/portfolio/baños.jpg" class="img-fluid" alt="">
             <div class="portfolio-info">
               <h4><a href="#">Duchas</a></h4>
               <div>
                 <a href="assets/img/portfolio/baños.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                 <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
           <div class="portfolio-wrap">
             <img src="../assets/img/portfolio/piscina-BsAs-2020.jpeg" class="img-fluid" alt="">
             <div class="portfolio-info">
               <h4><a href="#">Piletas</a></h4>
               <div>
                 <a href="assets/img/portfolio/piscina-BsAs-2020.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                 <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
           <div class="portfolio-wrap">
             <img src="../assets/img/portfolio/tobogan.jpg" class="img-fluid" alt="">
             <div class="portfolio-info">
               <h4><a href="#">Diversion</a></h4>
               <div>
                 <a href="assets/img/portfolio/tobogan.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                 <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 portfolio-item filter-card">
           <div class="portfolio-wrap">
             <img src="../assets/img/portfolio/baños2.jpg" class="img-fluid" alt="">
             <div class="portfolio-info">
               <h4><a href="#">Baño</a></h4>
               <div>
                 <a href="assets/img/portfolio/baños2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                 <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
           <div class="portfolio-wrap">
             <img src="../assets/img/portfolio/sauna.jpg" class="img-fluid" alt="">
             <div class="portfolio-info">
               <h4><a href="#">Sauna</a></h4>
               <div>
                 <a href="assets/img/portfolio/sauna.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                 <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
           <div class="portfolio-wrap">
             <img src="../assets/img/portfolio/canchas.jpg" class="img-fluid" alt="">
             <div class="portfolio-info">
               <h4><a href="#">Canchas</a></h4>
               <div>
                 <a href="assets/img/portfolio/canchas.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                 <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
               </div>
             </div>
           </div>
         </div>
         
         <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
           <div class="portfolio-wrap">
             <img src="../assets/img/portfolio/sleep-pods-portada.webp" class="img-fluid" alt="">
             <div class="portfolio-info">
               <h4><a href="#">Descanso</a></h4>
               <div>
                 <a href="assets/img/portfolio/sleep-pods-portada.webp" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                 <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
               </div>
             </div>
           </div>
         </div>
         
         <div class="col-lg-4 col-md-6 portfolio-item filter-oficinas" data-wow-delay="0.2s">
           <div class="portfolio-wrap">
             <img src="../assets/img/portfolio/oficina-google_0.webp" class="img-fluid" alt="">
             <div class="portfolio-info">
               <h4><a href="#">Area de Trabajo</a></h4>
               <div>
                 <a href="assets/img/portfolio/oficina-google_0.webp" class="link-preview" data-lightbox="portfolio" data-title="Oficina 1" title="Preview"><i class="ion ion-eye"></i></a>
                 <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
               </div>
             </div>
           </div>
         </div>
         
         <div class="col-lg-4 col-md-6 portfolio-item filter-oficinas" data-wow-delay="0.2s">
           <div class="portfolio-wrap">
             <img src="../assets/img/portfolio/programacion2.jpg" class="img-fluid" alt="">
             <div class="portfolio-info">
               <h4><a href="#">Programacion en Curso</a></h4>
               <div>
                 <a href="assets/img/portfolio/programacion2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Oficina 2" title="Preview"><i class="ion ion-eye"></i></a>
                 <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
               </div>
             </div>
           </div>
         </div>
         
         <div class="col-lg-4 col-md-6 portfolio-item filter-oficinas" data-wow-delay="0.2s">
           <div class="portfolio-wrap">
             <img src="../assets/img/portfolio/programacion1.jpg" class="img-fluid" alt="">
             <div class="portfolio-info">
               <h4><a href="#">Plan de Trabajo</a></h4>
               <div>
                 <a href="assets/img/portfolio/programacion1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Oficina 3" title="Preview"><i class="ion ion-eye"></i></a>
                 <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
               </div>
             </div>
           </div>
         </div>

       </div>

     </div>
   </section><!-- #portfolio -->