<!--Inicio Header-->
<app-header></app-header>
<!--Fin Header-->  
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="../assets/img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>¡Te acompañamos<br><span>por el camino de</span><br>la Programación!</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Conocenos</a>
          <a href="#services" class="btn-services scrollto">Nuestros Cursos</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3><strong>Sobre Nosotros</strong></h3>
          <p>Buscamos brindar educación efectiva de la manera más rápida y accesible posible.<br>Creando asi experiencias de aprendizaje y desarrollo profesional para entusiastas digitales.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              Nos esforzamos en promover el trabajo en equipo, la creatividad y la superación personal. Nos basamos en la calidad, el esfuerzo y la dedicación, lo que nos permite tener muchísimas oportunidades de crecimiento y de éxito.
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-clock-o"></i></div>
              <h4 class="title"><a href="">Flexibilidad Horaria</a></h4>
              <p class="description">Ofrecemos modalidad sincrónica y asincrónica segun la necesidad de el alumno/a, con diferentes días y horarios para elegir. Además hay un canal disponible las 24 horas del día por el cual se pueden comunicar con los profesores ante cualquier eventualidad que les impida asistir a las clases o cambios de fechas.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-handshake-o"></i></div>
              <h4 class="title"><a href="">Inserción Laboral</a></h4>
              <p class="description">Contamos con talleres que llevan adelante profesionales que los van a ir orientando en la construccion de su perfil laboral. Empezando por la construcción de su Curriculum vitae, siguiendo con clases de oratoria y simulaciones de entrevistas laborales para que puedan estar lo mas preparado posible, finalizando con charlas sobre su presentacion hacia las redes y conexiones interpersonales. </p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bed"></i></div>
              <h4 class="title"><a href="">Comfort para los alumnos</a></h4>
              <p class="description">Nuestras instalaciones son de primer nivel, con sectores de relajación y descanso, aulas con computadoras equipadas con lo mejor del mercado para llevar a cabo sus prácticas y trabajos de programación, a su vez tambien se encuentran disponibles los sectores para realizar ejercicio y habitaciones para aquellos que deseen descansar en la escuela. </p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="../assets/img/about-img.svg" class="img-fluid" alt="">
          </div>
        </div>
        <!---
        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="../assets/img/about-extra-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h4>
            <p>
              Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.
            </p>
            <p>
              Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum.
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="../assets/img/about-extra-2.svg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.</h4>
            <p>
             Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis. Voluptas nemo qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus corporis autem at blanditiis beatae incidunt sunt. 
            </p>
            <p>
              Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
            </p>
            <p>
              Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut fuga mollitia exercitationem nam accusantium provident quia.
            </p>
          </div>
        -->
        </div>

      
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Nuestros cursos</h3>
          <p>Estos son los cursos que ofrecemos actualmente de la mano de los talleres que mencionamos antes. Estan pensados para todo tipo de persona sin importar la edad o conocimientos.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="fa fa-medium" aria-hidden="true"></i></div>
              <h4 class="title"><a href="">Diseño UX/UI</a></h4>
              <p class="description">En este curso aprenderás a hacer un research de investigación. Seleccionarás un problema y realizarás cada etapa del proceso de diseño para crear un prototipo de app nativa generando una solución de diseño digital. Tambien aprenderan a utilizar Photoshop e Illustrator las dos herramientas más utilizadas para diseño.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="fa fa-database" aria-hidden="true"></i></div>
              <h4 class="title"><a href="">Data Analytics</a></h4>
              <p class="description">En este curso aprenderás los conceptos generales de las bases de datos para luego trabajar sobre bases de datos relacionales por medio del lenguaje de consultas estructuradas SQL(Structured Query Language). Diseñarás y desarrollarás tableros de control con la herramienta Power BI, utilizando DAX (Data Analysis Expressions), Lenguaje M y Power Query.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="fa fa-html5" aria-hidden="true"></i></div>
              <h4 class="title"><a href="">Desarrollo Web</a></h4>
              <p class="description">Te sumergirás en las mejores prácticas del desarrollo web, trabajando con HTML y CSS. Conocerás herramientas para optimizar al máximo tu sitio web, implementando prácticas de versionado de código con GIT. Al finalizar, sabrás cómo aplicar Bootstrap a tus proyectos, subirás tu sitio a un servidor, y también sabrás cómo presentar un presupuesto y atender a tu cliente final.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="fa fa-android" aria-hidden="true"></i></div>
              <h4 class="title"><a href="">Desarrollo de Aplicaciones</a></h4>
              <p class="description">En este curso aprenderás los conocimientos y bases para crear aplicaciones bridge con capacidad de despliegue tanto para Android como iOS, utilizando React Native, Javascript y un software de prototipado como Sketch o Adobe Xd. Te conectarás a APIs y aprenderás la capacidad de sync con Firebase o Realm db. Al finalizar este curso estarás en condiciones de desarrollar, implementar y desplegar tu propia aplicación móvil.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="fa fa-search" aria-hidden="true"></i></div>
              <h4 class="title"><a href="">Testing QA Manual</a></h4>
              <p class="description">En este curso aprenderás los fundamentos del Testing, junto con las herramientas necesarias para desenvolverte como profesional de QA (Quality Assurance Professional). Conocerás las distintas herramientas que se aplican en el ambiente del Testing, los tipos de prueba más utilizados y las técnicas para llevarlas a cabo.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
              <h4 class="title"><a href="">Data Science</a></h4>
              <p class="description">En este curso aprenderás la teoría y consideraciones técnicas para la construccion de modelos de Machine Learning que solucionen problemas reales en diversas industrias de manera predictiva.
                Usaremos el lenguaje de programación Python para construir programas computacionales que aprendan de la experiencia y den soporte a la toma de decisiones en el sector financiero, deportivo y comercial.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-diamond"></i>
              <div class="card-body">
                <h5 class="card-title">Corporis dolorem</h5>
                <p class="card-text">Deleniti optio et nisi dolorem debitis. Aliquam nobis est temporibus sunt ab inventore officiis aut voluptatibus.</p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-language"></i>
              <div class="card-body">
                <h5 class="card-title">Voluptates dolores</h5>
                <p class="card-text">Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur.</p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-object-group"></i>
              <div class="card-body">
                <h5 class="card-title">Eum ut aspernatur</h5>
                <p class="card-text">Autem quod nesciunt eos ea aut amet laboriosam ab. Eos quis porro in non nemo ex. </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

        </div>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">274</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>Hard Workers</p>
          </div>
  
        </div>

      </div>
    </section>
    ============================-->
    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Nuestras Instalaciones</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-oficinas">Oficinas</li>
              <li data-filter=".filter-app">Relax</li>
              <li data-filter=".filter-card">Baños</li>
              <li data-filter=".filter-web">Ejercicio</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/google-dublin-tres.webp" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Recreo</a></h4>
                <div>
                  <a href="assets/img/portfolio/google-dublin-tres.webp" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/gimnasiog-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Gimnasio</a></h4>
                <div>
                  <a href="assets/img/portfolio/gimnasiog-4.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/office.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Chill</a></h4>
                <div>
                  <a href="assets/img/portfolio/office.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/baños.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Duchas</a></h4>
                <div>
                  <a href="assets/img/portfolio/baños.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/piscina-BsAs-2020.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Piletas</a></h4>
                <div>
                  <a href="assets/img/portfolio/piscina-BsAs-2020.jpeg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/tobogan.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Diversion</a></h4>
                <div>
                  <a href="assets/img/portfolio/tobogan.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/baños2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Baño</a></h4>
                <div>
                  <a href="assets/img/portfolio/baños2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/sauna.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Sauna</a></h4>
                <div>
                  <a href="assets/img/portfolio/sauna.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/canchas.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Canchas</a></h4>
                <div>
                  <a href="assets/img/portfolio/canchas.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/sleep-pods-portada.webp" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Descanso</a></h4>
                <div>
                  <a href="assets/img/portfolio/sleep-pods-portada.webp" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-oficinas" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/oficina-google_0.webp" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Area de Trabajo</a></h4>
                <div>
                  <a href="assets/img/portfolio/oficina-google_0.webp" class="link-preview" data-lightbox="portfolio" data-title="Oficina 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-oficinas" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/programacion2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Programacion en Curso</a></h4>
                <div>
                  <a href="assets/img/portfolio/programacion2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Oficina 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-oficinas" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="../assets/img/portfolio/programacion1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Plan de Trabajo</a></h4>
                <div>
                  <a href="assets/img/portfolio/programacion1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Oficina 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Clients Section
    <section id="testimonials" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <img src="../assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="../assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <p>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="../assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="../assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="../assets/img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                </p>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->


    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h3>Nuestro Equipo</h3>
          <p>Las personas que comenzaron este proyecto e idearon todo para que hoy en día se pueda convertir en realidad. </p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="../assets/img/javec.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Robert Harjavec</h4>
                  <span>System Engineer</span>
                  <div class="social">
                    <a href="https://twitter.com/robertherjavec?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/robertherjavec/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/robertherjavec/?hl=es" target="_blank"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="../assets/img/oleary-k.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Kevin O'Leary</h4>
                  <span>Founder</span>
                  <div class="social">
                    <a href="https://twitter.com/kevinolearytv?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/kevinolearytv/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/kevinolearytv/?hl=es" target="_blank"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="../assets/img/lori.avif" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Lori Greiner</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href="https://twitter.com/LoriGreiner?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/lorigreinershark/?hl=es" target="_blank"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="../assets/img/diamond.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Daymond John</h4>
                  <span>CEO</span>
                  <div class="social">
                    <a href="https://twitter.com/TheSharkDaymond?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/daymondjohn/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/thesharkdaymond/?hl=es" target="_blank"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Clients Section

    <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header">
          <h3>Our CLients</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="../assets/img/clients/client-1.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="../assets/img/clients/client-2.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="../assets/img/clients/client-3.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="../assets/img/clients/client-4.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="../assets/img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="../assets/img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="../assets/img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="../assets/img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>
    ============================-->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>Contactanos</h3>
        </div>

        <div class="row wow fadeInUp">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13136.066850016401!2d-58.3815704!3d-34.6037389!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses-419!2sar!4v1687212145331!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>Av. 9 de Julio s/n, C1043 CABA</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p>ArgPrograma@bsas.gob.ar</p>
              </div>
              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>4555-8897</p>
              </div>
            </div>

            <div class="form">
              <div id="sendmessage">¡Tu mensaje ah sido enviado, gracias!</div>
              <div id="errormessage"></div>
              <form>
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="Nobmre" class="form-control" id="Nombre" placeholder="Nombre" pattern="[a-zA-Z]{1,30}" data-msg="Usar por lo menos 4 carácteres" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="Email" id="Email" placeholder="Tu Email" data-rule="email" data-msg="Ingresar un Email valido" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="text" name="Apellido" class="form-control" id="Apellido" placeholder="Apellido" pattern="[a-zA-Z]{1,30}" data-msg="Usar por lo menos 4 carácteres" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="Asunto" id="Asunto" placeholder="Asunto" data-rule="minlen:4" data-msg="Ingresar por lo menos 8 carácteres" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="Mensaje" rows="5" data-rule="required" data-msg="Dejanos tu comentario" placeholder="Mensaje"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Enviar Mensaje" onclick="alert('Bienvenido');">Enviar Mensaje</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--Inicio Footer-->
  <app-footer></app-footer>
  <!--Fin Footer-->

    <div class="container">
      <div class="copyright">
        <a><img src="../assets/img/Imagen33.png" alt="" class="img-fluid"></a>
      </div>
 

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  
  <router-outlet></router-outlet>