<!--Inicio Header-->
<app-header></app-header>
<!--Fin Header-->  
  <!--Inicio Intor-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="../assets/img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>¡Te acompañamos<br><span>por el camino de</span><br>la Programación!</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Conocenos</a>
          <a href="#services" class="btn-services scrollto">Nuestros Cursos</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">
    <!--Fin Intro-->

  <!--Inicio Nosotros-->
  <app-nosotros></app-nosotros>
  <!--Fin Nosotros-->

    <!--Inicio Cursos-->
  <app-cursos></app-cursos>
  <!--Fin Cursos-->
    
  <!--Inicio Instalaciones-->
  <app-instalaciones></app-instalaciones>
  <!--Fin Instalaciones-->

  <!--Inicio Equipo-->
  <app-equipo></app-equipo>
  <!--Fin Equipo-->

   <!--Inicio Contacto-->
   <app-contacto></app-contacto>
   <!--Fin Contacto-->

  </main>

  <!--Inicio Footer-->
  <app-footer></app-footer>
  <!--Fin Footer-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <router-outlet></router-outlet>