<!--==========================
      Team Section
    ============================-->
    <section id="team">
     <div class="container">
       <div class="section-header">
         <h3>Nuestro Equipo</h3>
         <p>Las personas que comenzaron este proyecto e idearon todo para que hoy en día se pueda convertir en realidad. </p>
       </div>

       <div class="row">

         <div class="col-lg-3 col-md-6 wow fadeInUp">
           <div class="member">
             <img src="../assets/img/javec.jpg" class="img-fluid" alt="">
             <div class="member-info">
               <div class="member-info-content">
                 <h4>Robert Harjavec</h4>
                 <span>System Engineer</span>
                 <div class="social">
                   <a href="https://twitter.com/robertherjavec?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter"></i></a>
                   <a href="https://www.linkedin.com/in/robertherjavec/" target="_blank"><i class="fa fa-linkedin"></i></a>
                   <a href="https://www.instagram.com/robertherjavec/?hl=es" target="_blank"><i class="fa fa-instagram"></i></a>
                 </div>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
           <div class="member">
             <img src="../assets/img/oleary-k.jpg" class="img-fluid" alt="">
             <div class="member-info">
               <div class="member-info-content">
                 <h4>Kevin O'Leary</h4>
                 <span>Founder</span>
                 <div class="social">
                   <a href="https://twitter.com/kevinolearytv?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter"></i></a>
                   <a href="https://www.linkedin.com/in/kevinolearytv/" target="_blank"><i class="fa fa-linkedin"></i></a>
                   <a href="https://www.instagram.com/kevinolearytv/?hl=es" target="_blank"><i class="fa fa-instagram"></i></a>
                 </div>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
           <div class="member">
             <img src="../assets/img/lori.avif" class="img-fluid" alt="">
             <div class="member-info">
               <div class="member-info-content">
                 <h4>Lori Greiner</h4>
                 <span>Product Manager</span>
                 <div class="social">
                   <a href="https://twitter.com/LoriGreiner?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter"></i></a>
                   <a href="https://www.instagram.com/lorigreinershark/?hl=es" target="_blank"><i class="fa fa-instagram"></i></a>
                 </div>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
           <div class="member">
             <img src="../assets/img/diamond.jpg" class="img-fluid" alt="">
             <div class="member-info">
               <div class="member-info-content">
                 <h4>Daymond John</h4>
                 <span>CEO</span>
                 <div class="social">
                   <a href="https://twitter.com/TheSharkDaymond?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter"></i></a>
                   <a href="https://www.linkedin.com/in/daymondjohn/" target="_blank"><i class="fa fa-linkedin"></i></a>
                   <a href="https://www.instagram.com/thesharkdaymond/?hl=es" target="_blank"><i class="fa fa-instagram"></i></a>
                 </div>
               </div>
             </div>
           </div>
         </div>

       </div>

     </div>
   </section><!-- #team -->
